{% extends "index_db.html" %}

{% block content %}

{% load leaflet_tags %}
{% load geojson_tags %}


  {% leaflet_js %}
  {% leaflet_css %}

 <style>


    .leaflet-container {  /* all maps */
        width:  1000px;
        height: 450px;
    }

    #specialbigmap {
        height: 450px;
    }

</style>


   <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Схема расположения постов АГС в бассейне реки Припять</h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>


  <script type="text/javascript">
  var collection = {{ ags_spot|geojsonfeature:"popupContent"|safe }};

  function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.popupContent) {
      layer.bindPopup(feature.properties.popupContent);
    }
  }

  function map_init(map, options) {

    var layer=L.geoJson(collection, {onEachFeature: onEachFeature});
    var overlayBounds=[]
    layer.addTo(map);


  }
</script>


    {% leaflet_map "spots" callback="window.map_init" %}

{% endblock %}



